@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans text-base antialiased;
}

@layer base {
  @font-face {
    font-family: 'Calibre';
    src: url('./assets/fonts/Calibre-Medium-Custom.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'Calibre';
    src: url('./assets/fonts/Calibre-Semibold-Custom.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: 'SpaceMono';
    src: url('./assets/fonts/space-mono-v11-latin-700.woff2') format('woff2');
  }
}

@layer components {
  ._tune-input-radio-checked {
    @apply m-[2px] h-[14px] w-[14px] bg-none ring-gray-900 ring-offset-2;
  }

  ._tune-input-radio-focus {
    @apply m-[2px]  h-[14px] w-[14px] ring-1 ring-gray-900 ring-offset-2;
  }

  ._tune-input-radio-unchecked {
    @apply m-0 h-[18px] w-[18px] bg-gray-100 text-gray-900 ring-1 ring-gray-350 ring-offset-0 hover:bg-gray-200 active:bg-gray-300;
  }

  .tune-placeholder {
    @apply text-gray-500;

    &.disabled {
      @apply text-gray-900;
    }
  }
}

.tune-alert {
  @apply overflow-hidden rounded-lg border border-gray-350 bg-white text-md text-gray-900;

  &.alert-negative {
    @apply border-red/40;
  }

  &.alert-positive {
    @apply border-green/40;
  }
}

.tune-alert-icon {
  @apply bg-gray-300 px-[18px] text-base;

  &.alert-negative {
    @apply bg-red/10 text-red;
  }

  &.alert-positive {
    @apply bg-green/10 text-green;
  }
}

.tune-alert-text {
  @apply px-[24px] py-[23px];
}

.tune-input {
  @apply h-[26px] w-full border-transparent bg-transparent px-0 pb-0 pt-[4px] text-base text-gray-900 placeholder:text-gray-500/40 focus:border-transparent focus:outline-none focus:ring-0;
}

.tune-input-wrapper {
  @apply rounded-lg border border-gray-350 bg-gray-100  px-[12px] pb-[6px] pt-[10px] focus-within:bg-gray-300 [&:not(:focus-within)]:hover:bg-gray-200;

  &.filled {
    @apply [&:not(:focus-within)]:bg-gray-200;
  }

  &.error {
    @apply border-red;
  }

  &.disabled {
    @apply cursor-not-allowed border-opacity-40 bg-opacity-40;
  }
}

.tune-input-chevron {
  @apply text-gray-500;
}

.tune-input-chevron-up {
  @apply text-gray-900;
}

.tune-input-after {
  @apply text-gray-500;
}

.tune-input-before {
  @apply text-gray-500;
}

.tune-input-column-wrapper {
  @apply w-full;

  &.disabled {
    @apply cursor-not-allowed border-opacity-40 bg-opacity-40;
  }
}

.tune-disabled-input {
  @apply pointer-events-none opacity-40;
}

.tune-textarea {
  @apply no-scrollbar form-textarea h-[76px] border-transparent bg-transparent px-0 pb-0 pt-[3px] text-base text-gray-900 placeholder:text-gray-500/40 focus:border-transparent focus:outline-none focus:ring-0;

  &.disabled {
    @apply cursor-not-allowed;
  }
}

.tune-textarea-json {
  @apply no-scrollbar overflow-x-scroll whitespace-pre font-mono;

  &.disabled {
    @apply cursor-not-allowed;
  }
}

.tune-textarea-composer-wrapper {
  @apply rounded-lg rounded-t-none border border-gray-350 bg-gray-100  px-[12px] pb-[6px] pt-[10px] focus-within:bg-gray-300 [&:not(:focus-within)]:hover:bg-gray-200;

  &.filled {
    @apply [&:not(:focus-within)]:bg-gray-200;
  }

  &.error {
    @apply border-red border-t-gray-350;
  }

  &.disabled {
    @apply cursor-not-allowed border-opacity-40 bg-opacity-40;
  }
}

.tune-textarea-composer-heading {
  @apply flex justify-end gap-2 rounded-t-lg border border-b-0 border-gray-350 p-[12px];

  &.disabled {
    @apply cursor-not-allowed border-opacity-40;
  }

  &.error {
    @apply border-red;
  }
}

.tune-switch {
  @apply border-transparent outline-none focus-visible:ring-1 focus-visible:ring-gray-900;

  &.switched-on-bg {
    @apply bg-gray-900;
  }
  &.switched-off-bg {
    @apply bg-gray-350;
  }

  &.switched-on-text {
    @apply text-gray-900;
  }
  &.switched-off-text {
    @apply text-gray-500;
  }
}

.tune-switch-button {
  @apply bg-white;
}

.tune-input-loading {
  @apply rounded-r-full bg-white;
}

.tune-button {
  @apply flex h-[46px] cursor-pointer items-center justify-center gap-1 rounded-full border border-gray-350 px-[20px] text-base;

  &.circle {
    @apply h-[46px] w-[46px] rounded-full px-0;
  }

  &.default {
    @apply border-gray-900 bg-gray-900 text-white hover:bg-opacity-90 active:bg-opacity-80;
  }

  &.outlined {
    @apply border-gray-350 bg-white text-gray-900 hover:bg-gray-200 active:bg-gray-300;
  }

  &.danger {
    @apply border-red/40 bg-white text-red hover:bg-red/5 active:bg-red/10;
  }

  &.positive {
    @apply border-green/40 bg-white text-green hover:bg-green/5 active:bg-green/10;
  }

  &.disabled {
    @apply cursor-not-allowed opacity-40;
  }
}

.tune-button-select {
  @apply relative flex justify-between px-[20px] text-left text-base text-gray-900;
}

.tune-select {
  @apply text-left;

  &.disabled {
    @apply cursor-not-allowed;
  }
}

.tune-list {
  @apply rounded-[20px] border border-gray-350 bg-white;
}

.tune-list-item {
  @apply px-[16px] py-[11px] text-base hover:bg-gray-200 active:bg-gray-300;

  &.active {
    @apply bg-gray-200;
  }
}

.tune-listbox-selected {
  @apply pb-[2px] pt-[6px] text-base text-gray-900;
}

.tune-label {
  @apply text-base text-gray-900;
}

.tune-label-sublabel {
  @apply text-sm text-gray-900 opacity-60;
}

.tune-label-input {
  @apply font-sans text-sm text-gray-500;

  &.error {
    @apply text-red;
  }
}

.tune-label-input-column {
  @apply text-sm text-gray-500;

  &.disabled {
    @apply text-opacity-40;
  }
}

.tune-icon-hint {
  @apply text-xs hover:text-gray-900;
}

.tune-error-text {
  @apply mt-2  text-base text-red;
}

.tune-error-border {
  @apply border-red;
}

.tune-tag {
  @apply inline-block rounded-full border px-[10px] py-[6px] text-sm;

  &.primary {
    @apply border-gray-900 bg-gray-900 text-white hover:bg-opacity-90 active:bg-opacity-80;
  }

  &.outlined {
    @apply border-gray-350 bg-white text-gray-500 hover:bg-gray-200 active:bg-gray-300;
  }
}

.tune-popover {
  @apply rounded-[20px] border border-gray-350 bg-white;
}

.tune-modal-panel {
  @apply rounded-[20px] border border-gray-350 bg-white p-4 sm:w-[440px];
}

.tune-modal-backdrop {
  @apply bg-gray-200 opacity-80;
}

.tune-modal-title {
  @apply text-center text-lg text-gray-900;
}

.tune-modal-content {
  @apply mt-4 text-base;
}

.tune-modal-footer {
  @apply mt-4 flex gap-3;
}

.tune-input-checkbox {
  @apply form-checkbox h-[20px] w-[20px] rounded-lg border-gray-350 bg-gray-100 text-gray-900;
  @apply checked:bg-none hover:bg-gray-200 focus:ring-0 focus:ring-offset-0 focus-visible:bg-gray-200 focus-visible:ring-0 focus-visible:ring-offset-gray-900 active:bg-gray-300;
}

.tune-input-checkbox-icon {
  @apply text-white;
}

.tune-input-radio {
  @apply _tune-input-radio-unchecked form-radio border-0;
  @apply focus:_tune-input-radio-focus;
  @apply checked:_tune-input-radio-checked;
  @apply [&:not(:checked)]:active:_tune-input-radio-unchecked;
}

.tune-form-array-objects {
  @apply rounded-xl border p-3;
}

.tune-stamp {
  &.avatar-style {
    @apply rounded-full;
  }

  &.space-style {
    @apply rounded;
  }

  &.space-style-lg {
    @apply rounded-lg;
  }

  &.cover-style {
    @apply rounded-none;
  }
}

.tune-selector {
  @apply cursor-pointer rounded-lg border border-gray-350 px-4 py-[25px] font-semibold hover:bg-gray-200 focus:bg-gray-200 focus:outline-none;

  &.active {
    @apply border-gray-900 bg-white hover:bg-gray-200;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

// Vue tippy
@import 'tippy.js/dist/tippy.css';
@import 'tippy.js/dist/border.css';
@import 'tippy.js/dist/svg-arrow.css';

.tippy-box[data-theme~='tune'] {
  @apply rounded-lg border border-solid border-gray-350 bg-gray-100 px-[12px] py-[8px]  text-sm text-gray-900;
}

/* The border */
.tippy-box[data-theme~='tune'] > .tippy-svg-arrow > svg:first-child {
  @apply fill-gray-350;
}

/* The fill */
.tippy-box[data-theme~='tune'] > .tippy-svg-arrow > svg:last-child {
  @apply fill-gray-100;
}
