@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #384aff;
  --bg-color: white;
  --text-color: #57606a;
  --link-color: #444444;
  --heading-color: #111111;
  --border-color: #e0e0e0;
  --header-bg: white;
  --block-bg: transparent;
  --shadow-color: #0001;
}

body {
  @apply text-base;
}

.tune-input {
  @apply form-input rounded-md border-skin-border bg-skin-bg focus:border-skin-text focus:outline-none focus:ring-0;
}

.tune-textarea {
  @extend .tune-input;
  @apply rounded-md;
}

.tune-input-switch {
  @apply border-transparent;

  &.switched-on-bg {
    @apply bg-green;
  }
  &.switched-off-bg {
    @apply bg-skin-border;
  }

  &.switched-on-text {
    @apply text-green;
  }
  &.switched-off-text {
    @apply text-skin-text;
  }
}

.tune-input-switch-button {
  @apply bg-skin-bg;
}

.tune-input-loading {
  @apply rounded-r-full bg-skin-bg;
}

.tune-button {
  @apply cursor-pointer rounded-md border border-skin-border px-3 py-2  hover:border-skin-text disabled:cursor-not-allowed;

  &.primary {
    @apply border-skin-primary bg-skin-primary text-white;
  }
}

.tune-listbox-button {
  @apply rounded-md border border-skin-border text-skin-link hover:border-skin-text;

  &.disabled {
    @apply text-skin-border hover:border-skin-border;
  }

  &.error {
    @apply border-red;
  }
}

.tune-listbox-options {
  @apply rounded-md border border-skin-border bg-skin-bg shadow-lg;
}

.tune-listbox-item {
  &.selected {
    @apply text-skin-link;
  }
  &.disabled {
    @apply text-skin-border;
  }
  &.active {
    @apply bg-skin-border;
  }
}

.tune-listbox-multiple-placeholder {
  @apply text-skin-text opacity-60;
}

.tune-label {
  @apply text-skin-text;
}

.tune-icon-hint {
  @apply text-sm hover:text-skin-link;
}

.tune-error-text {
  @apply text-sm text-red;
}

.tune-error-border {
  @apply border-red;
}

.tune-tag {
  @apply rounded-md border border-skin-border bg-skin-border px-2 py-1 text-sm text-skin-text;
}

::placeholder {
  opacity: 0.6 !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

// V-Tippy tooltip package styling - could be moved somewhere else?
.tippy-box[data-animation='fade'][data-state='hidden'] {
  opacity: 0;
}
[data-tippy-root] {
  max-width: calc(100vw - 10px);
}
.tippy-box {
  position: relative;
  background-color: var(--text-color);
  color: var(--header-bg);
  border-radius: 7px;
  font-size: 14px;
  line-height: 1.4;
  outline: 0;
  transition-property: transform, visibility, opacity;
  padding: 2px 4px;
  text-align: center;
  font-weight: 500;
}
.tippy-box[data-placement^='top'] > .tippy-arrow {
  bottom: 0;
}
.tippy-box[data-placement^='top'] > .tippy-arrow:before {
  bottom: -7px;
  left: 0;
  border-width: 8px 8px 0;
  border-top-color: var(--text-color);
  transform-origin: center top;
}
.tippy-box[data-placement^='bottom'] > .tippy-arrow {
  top: 0;
}
.tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
  top: -7px;
  left: 0;
  border-width: 0 8px 8px;
  border-bottom-color: var(--text-color);
  transform-origin: center bottom;
}
.tippy-box[data-placement^='left'] > .tippy-arrow {
  right: 0;
}
.tippy-box[data-placement^='left'] > .tippy-arrow:before {
  border-width: 8px 0 8px 8px;
  border-left-color: var(--text-color);
  right: -7px;
  transform-origin: center left;
}
.tippy-box[data-placement^='right'] > .tippy-arrow {
  left: 0;
}
.tippy-box[data-placement^='right'] > .tippy-arrow:before {
  left: -7px;
  border-width: 8px 8px 8px 0;
  border-right-color: var(--text-color);
  transform-origin: center right;
}
.tippy-box[data-inertia][data-state='visible'] {
  transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11);
}
.tippy-arrow {
  width: 16px;
  height: 16px;
  color: #333;
}
.tippy-arrow:before {
  content: '';
  position: absolute;
  border-color: transparent;
  border-style: solid;
}
.tippy-content {
  position: relative;
  padding: 5px 9px;
  z-index: 1;
  overflow-wrap: break-word;
}
